#container {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 90px 0; */
    gap:20px;    
}

 
#textandbtn {
    position: relative;
    flex-direction: column;
    display: flex;
    
} 

#text {
    font-size: 125px;
    text-transform: uppercase;
    font-weight: 900;
}

#startbtn {
    padding: 10px 50px;
    font-size: large;
    background-color: black;
    color: white;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 140px;
    right: 10px;
    font-weight: 600;
    /* width: 220px; */
    border: 2px solid transparent;
    cursor: pointer;
}

#startbtn:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
}